.navbar-brand{
  text-decoration: underline;
  text-shadow: 4px 4px 5px orange;
  font-family: system-ui;
  font-style: oblique;
  font-weight: 900;
  font-size: 25px;
}
ul li a{
  text-transform: capitalize;
}
.dice {
    width: 100px;
    height: 50px;
    background-color: #116466;
    border-radius: 5px;
    color: #2C3531;
    padding-left: 40px;
    padding-top: 10px;
    margin: 5px

}
#shuffle {
  margin-left: 0px
}
#game {
  position: absolute;
  left: 0px;
  width: 420px;
  height: 280px;
  margin-left: 10px;
  margin-top: 10px;
  background-color: #D8E2E7;
  border-radius: 5px
}

#contactus{
  background-color: #DEE8E2;
}
.contact{
  padding: 4%;
  height: 400px;
}
.col-md-3{
  background: #ff9b00;
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.contact-info{
  margin-top:10%;
}
.contact-info img{
  margin-bottom: 15%;
}
.contact-info h2{
  margin-bottom: 10%;
}
.col-md-9{
  background: #fff;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.contact-form label{
  font-weight:600;
}
.contact-form button{
  background: #25274d;
  color: #fff;
  font-weight: 600;
  width: 25%;
}
.contact-form button:focus{
  box-shadow:none;
}
